<div id="zh-footer" class="zh-footer">
<div class="zg-wrap clearfix">
<ul>

<li><a href="http://www.zhihu.com/question/19581624" target="_blank">你造嘛指南</a></li>

<li><a href="http://www.zhihu.com/read" target="_blank">你造嘛阅读</a></li>
<li><a href="http://www.zhihu.com/terms" target="_blank">你造嘛协议</a></li>
</ul>
<span class="copy">&copy 2014 你造嘛   </span>
</div>
</div>